$def with (smsfrom, data)
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>Zulo DynSMS</title>
<link rel="Stylesheet" href="/static/screen.css" type="text/css" media="screen" />
<link rel="Stylesheet" href="/static/dynsms.css" type="text/css" media="screen" />
<script type="text/javascript" src="/static/calendar.js"></script>

 <script type="text/javascript">
  function window_onload()
  {
   
          if (typeof(calendar_window_onload) != 'undefined')
    calendar_window_onload();
          if (typeof(page_window_onload) != 'undefined')
    page_window_onload();
  }

function limitText(limitField, limitCount, limitNum) {
        if (limitField.value.length > limitNum) {
                limitField.value = limitField.value.substring(0, limitNum);
        } else {
                limitCount.value = limitNum - limitField.value.length;
        }
}
</script>


<script type='text/javascript'>
function page_window_onload() {
    calendar_window_onload();
}
</script>

</head>
<body class="home2" onload="window_onload()">

  <div class="header">
    <div class="container">
      <div class="links"><table><tr><td><a href="/home">Home</a></td><td> <a href="/upload">Upload</a></td><td> <a href="/report">Reports</a></td><td>
$if context.username == 'Nobody':
  <a href="/login">Log in</a>
$else:
  <a href="/logout">Logout</a>

</td></div><td>$context.username</td></tr></table>

    </div>
  </div>

  <div class="container">
   <div class="random">
      <h2>  </h2>
   </div>
    <div class="press">
      <div class="login" align="center">
        <form name="bulk" method="POST" enctype="multipart/form-data" action="">
        <table cellspacing='2' border=1 width=300 height=100>
        <colgroup align="left">
        <colgroup align="center">
          <br>
    <tr><th>Date </th><th align="center">Total</th><th align="center">Delivered</th><th align="center">Pending</th></tr>
    <tr><td> $smsfrom</td><td align="cener">$data['total']</td><td align="center">$data['F']</td><td align="center">$data['P']</td></tr>

        </table>
        </form>
      </div>
    </div>
  </div>
  <div class="container">
  </div>
</body>
</html>
